<div class="container">
    <div class="mt-4">
        <form class ="form-inline" #repoform='ngForm'>
            <div class="form-group">
                <input type="text" [(ngModel)]="userName" name="userName"  class="form-control" placeholder="Type a Github User Name" required>
            </div>
            <p class="text-info text-center" click="getUserRepositories()">{{getUserRepositories}}<i class="fa fa-search "></i></p>
        </form>
    </div>
</div>
<div class ="container">
    <div class = "row">
        <div class = "col-md-8" *ngFor ='let repo of repos'>
            <h3>{{repo.name}}</h3>
            <h4>{{repo.desription}}</h4>
            <p>{{repo.created_at}}</p>
            <a class = "btn btn-warning" href = {{repo.html_url}}>Go to Repo!</a>
        </div>
    </div>
</div>

