<div class ="container">
    <div class ="row">
        <h2 align="center"><a class="btn btn-info" href ="https://github.com/Maryan23">My Profile</a></h2>
        <div class="col-md-7">
            <img id='gh-pic'src='https://avatars.githubusercontent.com/u/87410218?v=4'>
        </div>
        <div class = "col-md-5">
            <h3>Links to some of my repos</h3>
            <a class="btn btn-info" href ="https://github.com/Maryan23/1-MIN-OF-YOU">1 Min Of You</a><br><br>
            <a class="btn btn-info" href ="https://github.com/Maryan23/Akan-Name-Form">Akan Name Form</a><br><br>
            <a class="btn btn-info" href ="https://github.com/Maryan23/Delani-Studio">Delani Studio</a><br><br>
            <a class="btn btn-info" href ="https://github.com/Maryan23/Famous-Quotes">Famous Quotes</a><br><br>
            <a class="btn btn-info" href ="https://github.com/Maryan23/News-On-The-Go">News On the Go</a><br><br>
        </div>
    </div>
</div>
