<div class="container ">
    <form>
        <div class="text-center mt-4" >
            <input class="form-check-input text-info" type="radio" id="username" value="username">
            <label class="form-check-label  mx-1">Username</label>
        </div>
        <div class="input-group">
            <input type="text" class="form-control border-info " placeholder="Type a username"name="searchValue" >
        </div>
        <p class="text-center text-info"><i class="fa fa-search "></i></p>
    </form>


</div>
